/* Write your CSS here */

.bg-container {
  background-color: #ffd569;
  height: 100vh;
  background-size: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.bg-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  background-size: cover;
  border-radius: 16px;
  padding: 24px;
  width: 90%;
}

.heading {
  text-align: center;
  color: #000000;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 700;
}

.count {
  color: #ffd569;
}

.middle-container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .middle-container {
    flex-direction: row;
  }
}

.image-container {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  margin-left: 16px;
  margin-right: 16px;
}

@media screen and (min-width: 768px) {
  .image-container {
    margin-top: 96px;
    margin-left: 48px;
    margin-right: 48px;
  }
}

.fruit-image {
  width: 200px;
  height: 175px;
}

@media screen and (min-width: 992px) {
  .fruit-image {
    width: 296px;
    height: 275px;
  }
}

.button-container {
  text-align: center;
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .button-container {
    margin-top: 48px;
  }
}

.button {
  color: #ffffff;
  background-color: #007bff;
  font-size: 12px;
  font-family: 'Roboto';
  border: none;
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  outline: none;
  cursor: pointer;
}
